<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Learn project"</title>
</head>
<body>
    

<h1>"Learn project"</h1>
<h3>{{user_name}} {{user_age}} Добро пожаловать на наш сайт!</h3>

<!-- <img src="  https://th.bing.com/th/id/R.192ae25c5ba25208d0e236441fe6fad5?rik=%2fDR%2bqUugTsWmvg&riu=http%3a%2f%2fpngimg.com%2fuploads%2fchuck_norris%2fchuck_norris_PNG6.png&ehk=wJXlRI7dq%2fogHspl2oZ42U%2bvXbkqUJuYxPWNMGvGIDw%3d&risl=&pid=ImgRaw&r=0   " width ="250", height = "250"/> -->
<br>
<br>

<p>Сегодняшняя дата: <span id="current-date"></span></p>

  <script>
    const dateElement = document.getElementById("current-date");
    const currentDate = new Date();

    // Формат: DD.MM.YYYY
    const formattedDate = currentDate.toLocaleDateString("ru-RU");
    dateElement.textContent = formattedDate;
  </script>
</body>
</html>

<form action= "/input_data" method "GET">
    <input name="name" placeholder="Enter your name">
 
    <br>
   
    <input name="age" placeholder="Enter your age">
 
    <br>
    <br>
    <button>Send</button>
    <br>
</form>

<br>
<br>
<h3>
    <a href="/about">About us</a>
<br>
</body>
</html>